#*
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*#

#* Add the current layouts configuration values to the context *#
#defineLayoutObjects()

#* Loads our custom macros *#
#parse($layoutDecoration.getResource("decorator-macros.vm"))

#* Add all template constants to the current context *#
#defineNavigationConstants()
#set($pc = $jetspeed.getPortalConfiguration())
#set($rc = $request.getAttribute("org.apache.jetspeed.request.RequestContext"))
#set($portalContextPath = $rc.request.getContextPath())
#set($portalServletPath = $rc.request.getServletPath())
#set($portalPagePath = $rc.getPortalURL().getPath())
#if ("$!portalPagePath" == "")
  #set($portalPagePath = "/")
#end

<!DOCTYPE html>
<html>
<head> 
#if ($jetspeed.isAjaxCustomizationEnabled())
<script type="text/javascript" src="#BaseHref()javascript/yui/build/yui/yui-min.js"></script>
<script language="javascript">
var JetuiConfiguration = {
	engine: '$pc.getString("jetui.render.engine")',
	ajaxTransport: '$pc.getString("jetui.ajax.transport")',
	dragMode: '$pc.getString("jetui.drag.mode")',
	portletStyle: '$pc.getString("jetui.style.portlet")',
	layoutStyle: '$pc.getString("jetui.style.layout")',
	dragHandleStyle: '$pc.getString("jetui.style.drag.handle")',
	portalContextPath: "${portalContextPath}",
	portalServletPath: "${portalServletPath}",
	portalPagePath: "${portalPagePath}"		
};
var JETUI_YUI = {
  base: "#BaseHref()javascript/yui/build/",
  timeout: 10000, 
  debug: true, 
  useBrowserConsole: true,
  config: JetuiConfiguration,    
  modules: {
    'jetui-portal': { fullpath: "#BaseHref()javascript/jetspeed/jetui/jetui-portal.js" }
  }
}; // ({classNamePrefix: 'jet'})
</script>
<link rel="stylesheet" type="text/css" href="#BaseHref()jetui/css/portal.css"/>
#end

#includeHeaderResource()

<meta http-equiv="Content-type" content="#ContentType()" />
<title>#PageTitle()</title>
<link rel="shortcut icon" href="#BaseHref()images/jetspeed.jpg" type="image/x-icon" />
#includeJavaScriptForHead()
#IncludeStylesheets()


<link rel="stylesheet" href="$request.contextPath$layoutDecoration.basePath/css/font-awesome.css" type="text/css" />		
<link rel="stylesheet" href="$request.contextPath$layoutDecoration.basePath/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="$request.contextPath$layoutDecoration.basePath/css/signin.css" type="text/css" />
<link rel="stylesheet" href="$request.contextPath$layoutDecoration.basePath/css/base-admin-3.css" type="text/css" />
<link rel="stylesheet" href="$request.contextPath$layoutDecoration.basePath/css/base-admin-3-responsive.css" type="text/css" />

<link rel="stylesheet" href="$request.contextPath/decorations/portlet/wedding/css/custom.css" type="text/css" />
	


</head>
<body class="#PageBaseCSSClass()" style="margin-top:-20px;">
<!--  BEGIN: layout/html/jetspeed/decorator.vm -->
<!-- Page Action Bar -->
#if ($request.getUserPrincipal())
<span class="layout-statusarea"><b>$jetspeed.getUserAttribute("user.name.given","") $jetspeed.getUserAttribute("user.name.family", ${request.userPrincipal.name})</b> | <a href="#BaseHref()login/logout">Log out</a></span>
#end
#if (!$jetspeed.isAjaxCustomizationEnabled())
#PageActionBar()
#end
<!-- end of header -->
<div id="layout-${rootFragment.id}" class="#PageBaseCSSClass()" >
<nav role="navigation" class="navbar navbar-inverse">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <i class="icon-cog"></i>
            </button>
            <a href="./index.html" class="navbar-brand">Jetspeed 2</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            #if ($request.getUserPrincipal())
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">

                    <a data-toggle="dropdown" class="dropdown-toggle" href="javscript:;">
                        <i class="icon-cog"></i>
                        Settings
                        <b class="caret"></b>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="./account.html">Account Settings</a></li>
                        <li><a href="javascript:;">Privacy Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:;">Help</a></li>
                    </ul>

                </li>

                <li class="dropdown">

                    <a data-toggle="dropdown" class="dropdown-toggle" href="javscript:;">
                        <i class="icon-user"></i>
                         $jetspeed.getUserAttribute("user.name.given","") $jetspeed.getUserAttribute("user.name.family", ${request.userPrincipal.name})
                        <b class="caret"></b>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="javascript:;">My Profile</a></li>
                        <li><a href="javascript:;">My Groups</a></li>
                        <li class="divider"></li>
                        <li><a href="#BaseHref()login/logout">Log out</a></li>
                    </ul>

                </li>
            </ul>

            <form role="search" class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control input-sm search-query">
                </div>
            </form>
            #end
        </div>
    </div>
</nav>

<div class="subnavbar">
    <div class="subnavbar-inner">
    </div>
</div>


#if (!$jetspeed.isAjaxCustomizationEnabled())
    <!-- Content Table -->
    <table cellpadding="0" cellspacing="0" border="0" width="100%" id="main">
        <tr>            
            <!-- Left Navigations Menu Table Data -->
            #set($navigationsStandardMenu = $site.getMenu("navigations"))
            #if(!$navigationsStandardMenu.empty)
            <td valign="top" id="leftcol" >
                <div id="navcolumn">
                    <table cellpadding="0" cellspacing="4" border="0" width="100%">
                        #includeLinksWithIconNavigation($navigationsStandardMenu $TOP_TO_BOTTOM)
                    </table>
                </div>
            </td>
            #end
            
            <!-- Content Table Data -->
            <td nowrap="nowrap" valign="top">
           <!-- Breadcrumbs Back Navigation -->
#end          
      <div id="breadcrumbs">
#set($breadcrumbsStandardMenu = $site.getMenu("breadcrumbs"))
#if(!$breadcrumbsStandardMenu.empty)
#includeLinksNavigation($breadcrumbsStandardMenu $LEFT_TO_RIGHT "" $BREADCRUMBS_STYLE "")
#else
        &nbsp;
#end
    </div>
                
                ## $jetspeed.include($jetspeed.currentFragment)
                
                <!--  END: layout/html/tigris/decorator.vm -->
                                